.grids-container{
    height: 100%;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 5px 19px 0px #d4d4d4;
}
.grid-heading{
    display: flex;
    justify-content: space-between;
}
.grid-heading i{
    font-size: 1.5em;
}
.grids-data{
    font-size: 2em;
    display: flex;
    gap: 3px;
}
.grids-data .units{
    display: flex;
    align-items: flex-end;
}