p {
  padding: 0;
  margin: 0;
}
.container-main {
   max-width: 100svw;
   max-height: 100svh;
}
section {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  /* background: linear-gradient(to right, #5863db, #9a89cf); */
}
main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 30%;
  color: #fff;
  padding: 40px;
}
.add-location {
  display: flex;
  justify-content: space-between;
  /* background-color: ; */
}

.add-location #add-location-btn {
  background-color: inherit;
  border: none;
}
.add-location i {
  color: #fff;
  font-size: 1.5em;
}
.add-location .switch-deg {
  display: flex;
  /* background-color: red; */
  gap: 5px;
}
.location-date-sun {
  display: flex;
  justify-content: space-between;
}
.location-date-sun .location {
  display: flex;
  align-items: center;
  gap: 4px;
}
.date p {
  font-size: 0.8em;
  font-weight: 300;
}
.temp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.temp .type {
  display: flex;
  align-items: center;
  gap: 5px;
}
.temp h2 {
  font-size: 7em;
  font-weight: 400;
}
aside {
  width: 70%;
  /* border: 1px solid; */
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  background-color: aliceblue;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.welcome-text-logo {
  height: 10%;
  display: flex;
  justify-content: space-between;
  /* background-color: #74d8fc; */
  align-items: center;
}
.welcome-text-logo .text {
  line-height: 10px;
}
.welcome-text-logo .text p:nth-child(2) {
  font-weight: 500;
  color: #797676;
}
.upcoming-card {
  width: 100%;
  /* height: 40%; */
  border-radius: 40px;
  padding: 20px;
  /* background-color: #74d8fc; */
  box-shadow: 0px 5px 19px 0px #d4d4d4;
  min-height: 220px;
}
.upcoming-card .chart {
  display: flex;
  align-items: center;
  /* background-color: #0041f3; */
}
.upcoming {
  display: flex;
  justify-content: space-between;
}
.upcoming button {
  background-color: #ececec;
  border: none;
  border-radius: 9px;
  font-size: 0.7em;
  font-weight: 500;
  padding: 0 7px 0 7px;
  transition: all 0.3s ease;
}
.upcoming button:hover {
  background-color: #e4e3e3;
  text-decoration: underline;
}
.more-details {
  height: 50%;
  /* background-color: #74d8fc; */
}
.grid-container {
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
#opacity{
  opacity: 0.5;
}
@media(max-width:1024px){
  section{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  aside{
    padding: 30px 20px 20px 20px;
    min-width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 0;
  }
  main{
    min-width: 100%;
    padding: 30px 20px 20px 20px;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}